{%extends "core/base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <!--User Profile starts-->
  <div class="user-profile section-padding mar-top-30 bg-green-1">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="user-titlebar">
                      <div class="user-avatar">
                        {% if user.profile_picture %}
                          <a href = "{% url 'profile-edit-owner' %}"><img src="{{user.profile_picture.url}}" alt=""></a>
                        {%else%}
                          <a href = "{% url 'profile-edit-owner' %}"><img src="{% static 'images/miipets/background/blank-profile-picture-973460.png' %}"  alt=""></a>
                        {%endif%}
                      </div>
                      <div class="user-name">
                          <h4>{{user.first_name}} {{user.last_name}}</h4>
                          <div class="list-ratings">
                              <span class="ion-android-star"></span>
                              <span class="ion-android-star"></span>
                              <span class="ion-android-star"></span>
                              <span class="ion-android-star"></span>
                              <span class="ion-android-star-half"></span>
                              <a href="#my-reviews">({{number_of_reviews}})</a>
                          </div>
                          <h3><a class="link-hov style2" href="{% url 'pets-add-pet' %}">Add Pet</a></h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--User Profile ends-->
  <!--User profile details starts-->
  <div class="list-details-section section-padding mar-top-40">
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-md-12">
                  <div class="user_info_menu">
                      <ul class="nav nav-tabs list-details-tab" id="lionTab" role="tablist">
                          <li class="nav-item active">
                              <a data-toggle="tab" href="#my-pets">My Pets</a>
                          </li>
                          <li class="nav-item">
                              <a data-toggle="tab" href="#my-reviews">Reviews <span class="text-grey"></span></a>
                          </li>
                      </ul>
                  </div>
                  <div class="tab-content mar-top-30" id="lionTabContent">
                      <div class="tab-pane fade active show" id="my-pets">
                          <div class="row">
                            {% for pet in pets %}
                              <div class="col-md-6">
                                  <div class="similar-item mar-bot-40">
                                      <img src= {%if pet.profile_picture %}
                                                  "{{pet.profile_picture.url}}"
                                                {%else%}
                                                  "{% static 'images/miipets/background/blank-profile-picture-973460.png' %}"
                                                {%endif%} alt="..." style = "width:50%;"> <!-- DOG IMAGE-->
                                      <div class="similar-title-box">
                                          <h5><a href="#">{{pet.name}}</a></h5>
                                          <p><span class="price-amt">{{pet.breed}}</span>/{{pet.age}} Years old</p>
                                      </div>
                                  </div>
                              </div>
                            {%endfor%}
                          </div>
                      </div> <!-- END OF PET PICTURES -->

                      <!-- Start of user reviews -->
                      <div class="tab-pane fade" id="my-reviews">

                        {% for review in reviews %}
                          <div class="review-item">
                              <div class="review-header">
                                  <div class="review-item__post">
                                      <div class="review-item__post-image">
                                          <img class="review-item__image" src="images/reviews/burger.jpg" alt="...">
                                      </div>
                                      <div class="review-item__post-content">
                                          <h2 class="review-item__post-title">
                                              <a href="#">{{review.reviewer}}</a>
                                          </h2>
                                          <div class="list-ratings">
                                              <span class="ion-android-star"></span>
                                              <span class="ion-android-star"></span>
                                              <span class="ion-android-star"></span>
                                              <span class="ion-android-star"></span>
                                              <span class="ion-android-star-half"></span>
                                          </div>
                                          <p class="review-item__post-location">
                                              <i class="ion-ios-location"></i>
                                              {{review.reviewer_location}}
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <h3 class="review-item__title">
                                  {{review.review_title}}
                              </h3>
                              <p class="review-item__description">
                                  {{review.comment}}
                              </p>
                          </div>
                        {%endfor%}
                      </div> <!-- END OF REVIEWS! -->
                  </div>
              </div>

              <!-- CONTACT DETAILS -->
                <div class="col-lg-3 col-md-12">
                    <div class="listing-sidebar">
                        <div class="boxed-widget">
                            <h3><i class="icofont-contact-add"></i>Contact details</h3>
                            {% if adress %}
                              <div class="address">
                                  <span class="ion-ios-location"></span>
                                  <p> {{adress}}</p>
                              </div>
                            {%endif%}
                            {% if phonenumber %}
                              <div class="address">
                                  <span class="ion-ios-telephone"></span>
                                  <p> {{phonenumber}}</p>
                              </div>
                            {%endif%}
                            {% if email %}
                              <div class="address">
                                  <span class="ion-ios-email"></span>
                                  <p> {{email}}</p>
                              </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
  <!--User profile details ends-->
{%endblock content%}
