{%extends "core/base.html"%}
{%load static%}



{%block content%}
<br><br><br>
  <!--Dashboard breadcrumb starts-->
  <div class="dash-breadcrumb">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="dash-breadcrumb-content">
                      <a class="btn v3" href= {% url 'sitter-add-service'%} style="background-color: #007A33;"><i class="ion-plus-round" ></i>Add Listing </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Dashboard breadcrumb ends-->
  <!-- Dashboard Statistics starts-->
  <div class="statistic-wrap">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xl-4 col-md-6 col-12">
                <a href="#">
                  <div class="statistic__item item--green">
                      <h2 class="counter-value">{{total_listings}}</h2>
                      <span class="desc">Listings</span>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-md-6 col-12">
                <a href="#">
                  <div class="statistic__item item--orange">
                      <h2 class="counter-value">{{total_reviews}}</h2>
                      <span class="desc">Total Reviews</span>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-md-6 col-12">
                <a href="#">
                  <div class="statistic__item item--blue">
                      <h2 class="counter-value">{{total_bookings}}</h2>
                      <span class="desc">Total bookings</span>
                  </div>
                </a>
              </div>
          </div>
      </div>
  </div>
  <!-- Dashboard Statistics ends-->

{%endblock content%}
