{%extends "core/base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <!--User Profile starts-->
  <div class="user-profile section-padding mar-top-30 bg-green-1">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="user-titlebar">
                      <div class="user-avatar">
                        {% if user.profile_picture %}
                          <a href = "{% url 'sitter-edit-profile' %}"><img src="{{user.profile_picture.url}}" alt=""></a>
                        {%else%}
                          <a href = "{% url 'sitter-edit-profile' %}"><img src="{% static 'images/miipets/background/blank-profile-picture-973460.png' %}"  alt=""></a>
                        {%endif%}
                      </div>
                      <div class="user-name">
                          <h4>{{user.first_name}} {{user.last_name}}</h4>
                          <ul>
                            <li>
                              <a class="link-hov style2" href="{% url 'sitter-add-service' %}">Add Service</a>
                            </li>
                            <li>
                              <a class="link-hov style2" href="{% url 'sitter-edit-profile' %}">Edit Profile</a>
                            </li>
                          <ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12">
                  <p>{{user.bio|linebreaks}}</p>
              </div>
          </div>
      </div>
  </div>
  <!--User Profile ends-->
  <!--User profile details starts-->
  <div class="list-details-section section-padding mar-top-20">
      <div class="container">
          <div class="row">
              <div class="col-lg-7 col-md-12">
                  <div class="user_info_menu">
                      <ul class="nav nav-tabs list-details-tab" id="lionTab" role="tablist">
                          <li class="nav-item active">
                              <a data-toggle="tab" href="#my-pets">My services</a>
                          </li>
                      </ul>
                  </div>
                  <div class="tab-content mar-top-30" id="lionTabContent">
                      <div class="tab-pane fade active show" id="my-pets">
                          <div class="row">
                            {% for service in services %}
                              <div class="col-md-6">
                                  <div class="similar-item mar-bot-40">
                                      <img src= {%if service.profile_picture %}
                                                  "{{service.profile_picture.url}}"
                                                {%else%}
                                                  "{% static 'images/miipets/background/blank-profile-picture-973460.png' %}"
                                                {%endif%} alt="..." style = "width:50%;"> <!-- DOG IMAGE-->
                                      <div class="similar-title-box">
                                          <h5><a href="{% url 'services-single' service_id=service.id%}">{{service.service_name}}</a></h5>
                                      </div>
                                  </div>
                              </div>
                            {%endfor%}
                          </div>
                      </div>

                  </div>
              </div>

              <!-- CONTACT DETAILS -->
                <div class="col-lg-5 col-md-12">
                    <div class="listing-sidebar">
                        <div class="boxed-widget">
                            <h3><i class="icofont-contact-add"></i>Contact details</h3>
                            {% if user.address %}
                              <div class="address">
                                  <span class="ion-ios-location"></span>
                                  <p> {{user.address}}</p>
                              </div>
                            {%endif%}
                            {% if user.contact_number %}
                              <div class="address">
                                  <span class="ion-ios-telephone"></span>
                                  <p> {{user.contact_number}}</p>
                              </div>
                            {%endif%}
                            {% if user.email %}
                              <div class="address">
                                  <span class="ion-ios-email"></span>
                                  <p> {{user.email}}</p>
                              </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
  <!--User profile details ends-->
{%endblock content%}
