{%extends "core/base.html"%}
{%load static%}



{%block content%}
<br><br><br>
  <!--Dashboard breadcrumb starts-->
  <div class="dash-breadcrumb">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="dash-breadcrumb-content">
                      <a class="btn v3" href= {% url 'sitter-add-service'%} style="background-color: #007A33;"><i class="ion-plus-round" ></i>Add Listing </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Dashboard breadcrumb ends-->
  <!-- Dashboard Statistics starts-->
  <div class="statistic-wrap">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xl-4 col-md-6 col-12">
                <a href="#">
                  <div class="statistic__item item--green">
                      <h2 class="counter-value">{{total_listings}}</h2>
                      <span class="desc">Listings</span>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-md-6 col-12">
                <a href="#">
                  <div class="statistic__item item--orange">
                      <h2 class="counter-value">{{total_reviews}}</h2>
                      <span class="desc">Total Reviews</span>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-md-6 col-12">
                <a href="#">
                  <div class="statistic__item item--blue">
                      <h2 class="counter-value">{{total_bookings}}</h2>
                      <span class="desc">Total bookings</span>
                  </div>
                </a>
              </div>
          </div>
      </div>
  </div>
  <!-- Dashboard Statistics ends-->

  <!--Dashboard content starts-->
  <div class="dash-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xl-6 col-md-12">
                  <div class="popular-listing">
                      <div class="act-title">
                          <h5><i class="icofont-eye-alt"></i>Most Viewd Listings</h5>
                      </div>
                        <div class="viewd-item-wrap">
                          {%for listing in listings%}
                            <div class="most-viewed-item">
                                <div class="most-viewed-img">
                                    <a href="#"><img src="{{listing.picture.url}}" alt="..."></a>
                                </div>
                                <div class="most-viewed-detail">
                                    <a class="category" href="#"><span class="list-bg aqua"><i class="icofont-hotel"></i></span>Hotel</a>
                                    <h3><a href="#">{{listing.name}}</a></h3>
                                    <div class="ratings">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-half"></i>
                                    </div>
                                    <div class="views">Views : <span>{{listing.total_views}}</span></div>
                                    <p class="date">Posted on {{listing.post_date}}</p>
                                </div>
                            </div>
                          {%endfor%}
                        </div>
                  </div>
              </div>
              <div class="col-xl-6 col-md-12">
                  <div class="recent-activity">
                      <div class="act-title">
                          <h5><i class="ion-ios-pulse"></i> Recent Activities</h5>
                      </div>
                      <ul class="act-wrap">
                        {%for activity in Activities%}
                          <li class="alert fade show">
                              <i class="ion-ios-star-outline"></i>
                              <span class="review-stat">{{activity.first_name}}</span> {{activity.action}} <span class="review-rate">4</span> on <span class="review-stat">{{activity.listing.name}}</span>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true"><i class="ion-android-close"></i></span>
                              </button>
                              <p>{{activity.time}}</p>
                          </li>
                        {%endfor%}
                      </ul>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!--Dashboard content ends-->
{%endblock content%}
