{%extends "core/base.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <!--Locations section starts-->
  <!--Category section starts-->
  <div class="popular-catagory section-padding">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>What type of service are you looking for {{user.first_name}}?</h3>
            </div>
              <div class="col-md-6">
                  <a href="{% url 'listings' type='walker' %}">
                    <div class="popular-catagory-content v2">
                        <div class="popular-catagory-img">
                            <img src="{% static 'images/miipets/background/walker_example.jpg' %}" alt="..." class="img_fluid">
                            <div class="overlay op-5"></div>
                        </div>
                        <div class="cat-content">
                          <h4 class="title">Walkers</h4>
                          <div class="swiper-slide single-team-member text-center">
                            <div class="single-team-info text-center overlay op-1"  style="background-color:#F5F6F7;" >
                              <p style="color:black;">
                                No time to exercise your pet? No problem.
                                Ask a MiiSitters to walk your animal and bring
                                them back safely and healthier.
                               </p>
                            </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
              <div class="col-md-6">
                  <a href="{% url 'listings' type='Sitter' %}">
                      <div class="popular-catagory-content v2">
                          <div class="popular-catagory-img">
                              <img src="{% static 'images/miipets/background/sitter_example.jpg' %}" alt="..." class="img_fluid">
                              <div class="overlay op-5"></div>
                          </div>
                          <div class="cat-content">
                              <h4 class="title">House Sitters / Feeders</h4>
                              <div class="swiper-slide single-team-member text-center">
                                <div class="single-team-info text-center overlay op-1"  style="background-color:#F5F6F7;" >
                                  <p style="color:black;">
                                      Going away for the Holidays? Have a business trip coming up and don’t
                                      know what to do with your pets? Select one of our trusted MiiSitters
                                      to look after your pets in the comfort of their own space. You can choose
                                      between the MiiSitter staying the day at your home or simply coming to feed and play
                                      with your pets.
                                   </p>
                                </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-md-6">
                  <a href="{% url 'listings' type='Boarding' %}">
                      <div class="popular-catagory-content v2">
                          <div class="popular-catagory-img">
                              <img src="{% static 'images/miipets/background/boarding_example.jpg' %}" alt="..." class="img_fluid">
                              <div class="overlay op-5"></div>
                          </div>
                          <div class="cat-content">
                              <h4 class="title">Boarding</h4>
                              <div class="swiper-slide single-team-member text-center">
                                <div class="single-team-info text-center overlay op-1"  style="background-color:#F5F6F7;" >
                                  <p style="color:black;">
                                      Going away for the night? Drop your pet off at a safe home for
                                      a period of time with one of our trusted MiiSitters. Minimum of one overnight
                                      stay is required.
                                   </p>
                                </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-md-6">
                  <a href="{% url 'listings' type='Daycare' %}">
                      <div class="popular-catagory-content v2">
                          <div class="popular-catagory-img">
                              <img src="{% static 'images/miipets/background/daycare_example.jpg' %}" alt="..." class="img_fluid">
                              <div class="overlay op-5"></div>
                          </div>
                          <div class="cat-content">
                              <h4 class="title">Daycare</h4>
                              <div class="swiper-slide single-team-member text-center">
                                <div class="single-team-info text-center overlay op-1"  style="background-color:#F5F6F7;" >
                                  <p style="color:black;">
                                     Need a pet lover to spend time, feed and play with your animal while at work?
                                     Does your pet enjoy the company of other pets? Drop of your pet at one our specialized
                                     daycare facilities where he or she can meet new friends and enjoy the open spaces!
                                   </p>
                                </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <!--Category section ends-->
  <!--Locations section ends-->
{%endblock content%}
