{%extends "core/base.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <!--Locations section starts-->
  <div class="popular-cities pad-bot-50 section-padding">
      <div class="container">
          <div class="row">
            {%for listing in listings %}
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="popular-item mar-bot-30">
                  <div class="single-place">
                    <img class="single-place-image" src="{% if listing.profile_picture %}
                                                          {{listing.profile_picture.url}}
                                                         {%else%}
                                                          {% static '/images/miipets/background/the-lucky-neko-AH7JYgyAlqA-unsplash.jpg' %}
                                                         {%endif%}"
                                                         alt="listing-image">
                    <div class="single-place-content">
                        <h2 class="single-place-title">
                            <a href="grid-fullwidth-map.html" style= 'color:#027931'>{{listing.listing_name}}</a>
                        </h2>
                        <ul class="single-place-list">
                            <li style= 'color:#027931'><span style= 'color:#027931'>{{listing.price}}</span></li>

                            <li style= 'color:#027931'><span style= 'color:#027931'>{{listing.type}}</span></li>
                        </ul>
                        <a class="btn v6 explore-place" href="grid-fullwidth-map.html" style= 'color:#027931'>Explore</a>
                    </div>
                  </div>
                </div>
              </div>
            {%endfor%}
          </div>
      </div>
  </div>
  <!--Locations section ends-->
{%endblock content%}
