{%extends "core/base.html"%}
{%load static%}

{%block content%}

<!--error  start-->
<div class="error-section section-padding mar-top-80 pad-bot-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3  error-text text-center">
                <div class="error-content">
                    <i class="ion-sad-outline" style="color: #007A33;"></i>
                    <h4>Oops! Page Not Found</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--error ends-->
{%endblock content%}