{%extends "core/base.html"%}
{%load static%}

{%block content%}
  <!--About section starts-->
  <div class="about-section section-padding pad-bot-120">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <div class="about-text res-box">
                      <span>About Us</span>
                      <h2>We understand your struggles</h2>
                      <p>We are a group of pet lovers that understand the constant feeling of
                        wanting to please your pet, even when you are gone. With our creative solution
                        this is now possible as you can book a sitter/walker/groomer within 5 minutes.
                        <br><br>
                         Always wanted to take that vacation? Need a weekend away? Do it!  </p>
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="about-img">
                      <img src="{% static 'images/miipets/background/background.jpg' %}" style="width:100%" alt = "">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--About section ends-->
  <!--Counter section starts-->
  <div class="counter-section bg-xs" style="background-color: white">
      <div class="overlay op-5" style="background-color: white"></div>
      <div class="container">
          <div class="row pad-tb-90">
              <div class="col-md-3 col-6" style="color: #027931;">
                  <div class="counter-text" style="color: #027931;">
                      <i class="icofont-thumbs-up" style="color: #027931;"></i>
                      <h6 class="counter-value" style="color: #027931;">{{total_miiowners}}</h6>
                      <p style="color: #027931;"> MiiOwners</p>
                  </div>
              </div>
              <div class="col-md-3 col-6" style="color: #027931;">
                  <div class="counter-text" style="color: #027931;">
                      <i class="icofont-male" style="color: #027931;"></i>
                      <h6 class="counter-value" style="color: #027931;">{{total_miisitters}}</h6>
                      <p style="color: #027931;">MiiSitters</p>
                  </div>
              </div>
              <div class="col-md-3 col-6" style="color: #027931;">
                  <div class="counter-text" style="color: #027931;">
                      <i class="icofont-ui-cut" style="color: #027931;"></i>
                      <h6 class="counter-value" style="color: #027931;">{{total_miiproviders}}</h6>
                      <p style="color: #027931;" >MiiProviders</p>
                  </div>
              </div>
              <div class="col-md-3 col-6" style="color: #027931;">
                  <div class="counter-text" style="color: #027931;">
                      <i class="icofont-cat-dog" style="color: #027931;"></i>
                      <h6 class="counter-value" style="color: #027931;">{{total_pets}}</h6>
                      <p style="color: #027931;"> Unique pets</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Counter section ends-->
  <!--Work-process starts-->
  <div class="work-process pad-bot-90 section-padding" style="background-color: white">
      <div class="container">
          <div class="row">
              <div class="col-md-8 offset-md-2 text-center">
                  <h2 class="section-title v3">How It Works</h2>
              </div>
              <div class="col-md-4">
                  <div class="work-process-content v1 text-center">
                      <!--<div class="process-icon v1">
                          <img src="images/others/1.png" alt="...">
                          <span>1</span>
                      </div>-->
                      <h4 class="title">Find the perfect sitter or provider</h4>
                      <p class="info">
                          Simply fill in your requirements on the home page and search the top MiiSitters or MiiProviders that we can offer.
                          Select your perfect match and book the date.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="work-process-content v1 text-center">
                    <!--  <div class="process-icon v1">
                          <img src="images/others/2.png" alt="...">

                          <span>2</span>

                      </div> -->
                      <h4 class="title">Drop of your pet and go enjoy yourself</h4>
                      <p class="info">
                          Either meet up with your MiiSitter/MiiProvider or welcome them at your home. The sitter or provider
                          will keep you updated throughout the whole process on how it is going with your pet and will notify
                          you immideately when something happened.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="work-process-content v1 text-center">
                    <!--  <div class="process-icon v1">
                          <img src="images/others/3.png" alt="...">

                          <span>3</span>
                      </div>-->
                      <h4 class="title">Collect your pet</h4>
                      <p class="info">
                          Greet your bestfriend again when you come back and have peace of mind that although they missed you,
                          they still enjoy themselves.<br><br> Receive and give a MiiRating and earn MiiPoints.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Work-process ends-->
  <!--Team section starts-->
  <div class="team-section pad-bot-70 pad-top-40">
      <div class="container">
          <div class="row mar-top-30">
              <div class="col-md-8 offset-md-2 text-center">
                  <h2 class="section-title v1">MiiPets Team</h2>
              </div>
              <div class="col-md-12">
                  <div class="team-wrapper swiper-container">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide single-team-member text-center">
                              <img src="{% static 'images/miipets/team/WhatsApp Image 2019-12-19 at 13.23.44-3.jpeg' %}" alt="Image">
                              <div class="single-team-info text-center">
                                  <h4>Luan Stoop</h4>
                                  <span>Founder &amp; CEO</span>
                                  <div class="social-link style1">
                                      <ul class="social-buttons style2">
                                          <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide single-team-member text-center">
                              <img src="{% static  'images/miipets/team/WhatsApp Image 2019-12-19 at 13.23.44-4.jpeg' %}" alt="Image">
                              <div class="single-team-info text-center">
                                  <h4>Ruan van der Merwe</h4>
                                  <span>Co-Founder &amp; COO</span>
                                  <div class="social-link style1">
                                      <ul class="social-buttons style2">
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                    </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide single-team-member text-center">
                              <img src="{% static 'images/miipets/team/WhatsApp Image 2019-12-19 at 13.23.44-2.jpeg' %}" alt="Image">
                              <div class="single-team-info text-center">
                                  <h4>Ivan Stoop</h4>
                                  <span> Co-Founder  &amp; VP of Marketing</span>
                                  <div class="social-link style1">
                                      <ul class="social-buttons style2">
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                    </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide single-team-member text-center">
                              <img src="{% static 'images/miipets/team/WhatsApp Image 2019-12-19 at 13.23.44.jpeg' %}" alt="Image">
                              <div class="single-team-info text-center">
                                  <h4>Stefan Bouwer</h4>
                                  <span>Co-Founder  &amp; VP of Software</span>
                                  <div class="social-link style1">
                                      <ul class="social-buttons style2">
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide single-team-member text-center">
                              <img src="{% static 'images/miipets/team/WhatsApp Image 2019-12-19 at 13.36.08.jpeg' %}" alt="Image">
                              <div class="single-team-info text-center">
                                  <h4>Fritz Weilbach</h4>
                                  <span>VP of Finance</span>
                                  <div class="social-link style1">
                                      <ul class="social-buttons style2">
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slider-btn v1 team-next"><i class="ion-arrow-right-c"></i></div>
                  <div class="slider-btn v1 team-prev"><i class="ion-arrow-left-c"></i></div>
              </div>
          </div>
      </div>
  </div>
  <!--Team section ends-->
  <!--Testimonial Section start-->
  <div class="hero-client-section pad-bot-70 mar-top-10 section-padding">
      <div class="container">
          <div class="row">
              <div class="col-md-8 offset-md-2 text-center">
                  <h2 class="section-title v1">People Talking About Us</h2>
              </div>
              <div class="col-md-12 mar-bot-70">
                  <div class="testimonial-wrapper swiper-container">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide single-testimonial-item">
                              <div class="testimonial-img text-center">
                                  <img src="{% static 'images/miipets/team/WhatsApp Image 2019-12-19 at 13.23.44-4.jpeg' %}" alt="...">
                              </div>
                              <div class="testimonial-content text-center">
                                  <ul class="product-rating">
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                  </ul>
                                  <h5>Ruan van der Merwe</h5>
                                  <span>COO, MiiPets</span>
                                  <p>I can not wait for this to come out!</p>
                              </div>
                          </div>
                          <div class="swiper-slide single-testimonial-item">
                              <div class="testimonial-img text-center">
                                  <img src="{% static 'images/miipets/team/WhatsApp Image 2019-12-19 at 13.23.44-3.jpeg' %}" alt="...">
                              </div>
                              <div class="testimonial-content text-center">
                                  <ul class="product-rating">
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star-half"></i></li>
                                  </ul>
                                  <h5>Luan Stoop</h5>
                                  <span>CEO, MiiPets</span>
                                  <p>The world wont be able to handle this!</p>
                              </div>
                          </div>
                          <div class="swiper-slide single-testimonial-item">
                              <div class="testimonial-img text-center">
                                  <img src="{% static 'images/miipets/team/WhatsApp Image 2019-12-19 at 13.23.44.jpeg' %}" alt="...">
                              </div>
                              <div class="testimonial-content text-center">
                                  <ul class="product-rating">
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                  </ul>
                                  <h5>Stefan Bouwer</h5>
                                  <span>Vp of customer facing, MiiPets</span>
                                  <p>One word: "WOW"</p>
                              </div>
                          </div>
                          <div class="swiper-slide single-testimonial-item">
                              <div class="testimonial-img text-center">
                                  <img src="{% static 'images/miipets/team/WhatsApp Image 2019-12-19 at 13.23.44-2.jpeg' %}" alt="...">
                              </div>
                              <div class="testimonial-content text-center">
                                  <ul class="product-rating">
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                      <li><i class="ion-android-star"></i></li>
                                  </ul>
                                  <h5>Ivan Stoop</h5>
                                  <span>VP of Marketing, MiiPets</span>
                                  <p>This product does not even require marketing!!!</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="client-pagination"></div>
              </div>
          </div>
      </div>
  </div>
  <!--Testimonial Section ends-->
{%endblock content%}
