{%extends "core/base.html"%}
{%load static%}

{%block content%}
  <!--About section starts-->
  <div class="about-section section-padding pad-bot-120">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <div class="about-text res-box">
                      <span>About Us</span>
                      <h2>We understand your struggles</h2>
                      <p>We are a group of pet lovers that understand the constant feeling of
                        wanting to please your pet, even when you are gone. With our creative solution
                        this is now possible as you can book a sitter/walker/groomer within 5 minutes.
                        <br><br>
                         Always wanted to take that vacation? Need a weekend away? Do it!  </p>
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="about-img">
                      <img src="{% static 'images/miipets/background/background.jpg' %}" style="width:100%" alt = "">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--About section ends-->
  <!--Counter section starts-->
  <div class="counter-section bg-xs" style="background-color: white">
      <div class="overlay op-5" style="background-color: white"></div>
      <div class="container">
          <div class="row pad-tb-90">
              <div class="col-md-4 col-6" style="color: #007A33;">
                  <div class="counter-text" style="color: #007A33;">
                      <i class="icofont-thumbs-up" style="color: #007A33;"></i>
                      <h6 class="counter-value" style="color: #007A33;">{{total_miiowners}}</h6>
                      <p style="color: #007A33;"> MiiOwners</p>
                  </div>
              </div>
              <div class="col-md-4 col-6" style="color: #007A33;">
                  <div class="counter-text" style="color: #007A33;">
                      <i class="icofont-male" style="color: #007A33;"></i>
                      <h6 class="counter-value" style="color: #007A33;">{{total_miisitters}}</h6>
                      <p style="color: #007A33;">MiiSitters</p>
                  </div>
              </div>
              <div class="col-md-4 col-6" style="color: #007A33;">
                  <div class="counter-text" style="color: #007A33;">
                      <i class="icofont-cat-dog" style="color: #007A33;"></i>
                      <h6 class="counter-value" style="color: #007A33;">{{total_pets}}</h6>
                      <p style="color: #007A33;"> Unique pets</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Counter section ends-->
  <!--Work-process starts-->
  <div class="work-process pad-bot-90 section-padding" style="background-color: white">
      <div class="container">
          <div class="row">
              <div class="col-md-8 offset-md-2 text-center">
                  <h2 class="section-title v3">How It Works</h2>
              </div>
              <div class="col-md-4">
                  <div class="work-process-content v1 text-center">
                      <!--<div class="process-icon v1">
                          <img src="images/others/1.png" alt="...">
                          <span>1</span>
                      </div>-->
                      <h4 class="title">Find the perfect MiiSitter</h4>
                      <p class="info">
                          Simply fill in your requirements on the home page and search the top MiiSitters that we can offer.
                          Select your perfect match and book the date.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="work-process-content v1 text-center">
                    <!--  <div class="process-icon v1">
                          <img src="images/others/2.png" alt="...">

                          <span>2</span>

                      </div> -->
                      <h4 class="title">Drop of your pet and go enjoy yourself</h4>
                      <p class="info">
                          Either meet up with your MiiSitter or welcome them at your home.
                          The sitter will keep you updated throughout the whole process on how
                          it is going with your pet and will notify you immediately when/if something happens.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="work-process-content v1 text-center">
                    <!--  <div class="process-icon v1">
                          <img src="images/others/3.png" alt="...">

                          <span>3</span>
                      </div>-->
                      <h4 class="title">Collect your pet</h4>
                      <p class="info">
                          Greet your best friend again when you come back and have peace of mind that although they missed you,
                          they still enjoyed themselves.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Work-process ends-->
  <!--Team section ends-->
{%endblock content%}
