{%extends "core/base.html"%}
{%load static%}

{%block content%}

<!--FAQ Section starts-->
<div class="list-details-section section-padding faq-section pad-bot-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="list-menu" class="list_menu faq-menu">
                    <ul class="list-details-tab fixed_nav">
                      <li class="nav-item"><a href="#general-faq">General help</a></li>
                      <li class="nav-item"><a href="#miiowners-faq">MiiOwners</a></li>
                      <li class="nav-item"><a href="#miisitters-faq">MiiSitters</a></li>
                        <!--<li class="nav-item"><a href="#miiproviders-faq">MiiProviders</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <!--Listing Details starts-->
                <div class="list-details-wrap">
                    <div id="general-faq" class="list-details-section">
                        <h4>General Help</h4>
                        <div id="accordion3" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne_">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne_" aria-expanded="true" aria-controls="collapseOne">
                                        What is a MiiOwner?
                                    </a>
                                </div>
                                <div id="collapseOne_" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne_">
                                    <div class="card-body">
                                        MiiOwners are people who need freedom with peace of mind.
                                        Ever wanted to get an animal, but couldn’t because it would mean
                                        you would not be able to get away on holiday? Have an animal, but just feel to
                                        bad to leave them alone at home for that anniversary weekend away?
                                        MiiPets has the solution for you. Book one of our trusted MiiSitters
                                        and enjoy freedom with peace of mind.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree_">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree_" aria-expanded="false" aria-controls="collapseThree">
                                        What is a MiiSitter?
                                    </a>
                                </div>
                                <div id="collapseThree_" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_">
                                    <div class="card-body">
                                      MiiPets offer pet owners freedom with peace of mind.
                                      The way we do this is by having committed, reliable
                                      MiiSitters who can look after and care for pets and homes,
                                      the way they would their own. Sign up as a MiiSitter and earn
                                      an income while doing what you love.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour_">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour_" aria-expanded="false" aria-controls="collapseFour">
                                        What are the different types of services offered?
                                    </a>
                                </div>
                                <div id="collapseFour_" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour_">
                                    <div class="card-body">
                                      Head to our services menu to find all the relevant information you need.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="miiowners-faq" class="list-details-section">
                        <h4>MiiOwners</h4>
                        <div id="accordion1" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How can I trust a MiiSitter?
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body">
                                        We have vetted all our sitters. We have also put in a rating system with
                                        detailed profiles, so that you have options when choosing your MiiSitter.
                                         We continue to put
                                        processes in place to protect all parties involved.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How does Payment work?
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="card-body">
                                      There is no cash transactions. The payment will be made through PayFast.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        What happens if something goes wrong?
                                    </a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="card-body">
                                      Safety and security are a must for both owner and sitter. In addition to the
                                      steps MiiPets takes to help protect our community, we encourage both
                                      owners and sitters to stay aware and take certain safety precautions when
                                      they’re booking or sitting.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="miisitters-faq" class="list-details-section">
                        <h4>MiiSitter</h4>
                        <div id="accordion2" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="head_1">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse_1" aria-expanded="false" aria-controls="collapseOne">
                                         How does payment work?
                                    </a>
                                </div>
                                <div id="collapse_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head_1">
                                    <div class="card-body">
                                      There is no cash transactions. The payment will be made through the website
                                      (PayFast) and the money will be distributed accordingly. We will be taking
                                      20% of the booking fee. Thus in order for this process to work you will have
                                      to register with PayFast and supply us with your merchant ID.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="head_2">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2" aria-expanded="false" aria-controls="collapseTwo">
                                        Can I cancel a booking?
                                    </a>
                                </div>
                                <div id="collapse_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head_2">
                                    <div class="card-body">
                                      Yes. But this will effect you MiiRating. If you feel that the owner has over
                                      sold their property or animals, we are happy to take queries. But we
                                      recommend you finish the booking and then give a poor MiiRating, unless this puts you
                                      in a dangerous position. MiiPets will take this into acount.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="head_3">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse_3" aria-expanded="false" aria-controls="collapseThree">
                                        What safety do I have?
                                    </a>
                                </div>
                                <div id="collapse_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head_3">
                                    <div class="card-body">
                                      We cannot make any complete guarantees, but we have and will
                                      continue to put processes in place to protect all parties involved.
`                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--FAQ Section starts-->
            </div>
        </div>
    </div>
</div>
<!--FAQ Section ends-->
{%endblock content%}
