{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders" />
    <!-- Links -->
    <link rel="icon" type="image/png" href="#" />
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Plugins CSS -->
    <link rel='stylesheet' href="{% static 'css/plugin.css' %}">
    <!-- style CSS -->
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <!-- Document Title -->
    <title>MiiPets</title>
</head>

<body>

    <!--Preloader starts
    <div class="preloader js-preloader">
        <img src="images/preloader.gif" alt="...">
    </div>-->
    <!--Preloader ends-->

    <!--Page Wrapper starts-->
    <div class="page-wrapper">
        <!--header starts-->
        <header class="header transparent scroll-hide" style="background-color: white;">
            <!--Main Menu starts-->
            <div class="site-navbar-wrap v1">
                <div class="container">
                    <div class="site-navbar">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-6">
                                <a class="navbar-brand" href="{% url 'core-home' %}"><img src="{% static 'images/miipets/logos/logo_white_transparent.png' %}" alt="MiiPets" class="img-fluid"></a>
                            </div>
                            <div class="col-md-8 col-6">
                                <nav class="site-navigation float-left">
                                    <div class="container">
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li class="no-children">
                                                <a href="{% url 'core-home' %}"> Home</a>
                                                <li class="has-children">
                                                    <a href="{%url 'listings-all' %}">Listings</a>
                                                    <ul class="dropdown">
                                                        <li class="has-children">
                                                            <a href="{%url 'listings-all' %}">MiiSitter Services</a>
                                                            <ul class="dropdown sub-menu">
                                                                <li><a href="{%url 'listings-all' %}">Walker</a></li>
                                                                <li><a href="{%url 'listings-all' %}">Boarding</a></li>
                                                                <li><a href="{%url 'listings-all' %}">House Sitting</a></li>
                                                                <li><a href="{%url 'listings-all' %}">Daycare</a></li>
                                                            </ul>
                                                        </li>
                                                      </ul>
                                                </li>
                                            <li class="has-children">
                                                <a href="{% url 'core-about' %}">About</a>
                                                <ul class="dropdown">
                                                    <li><a href="{% url 'core-about' %}">About MiiPets</a></li>
                                                    <li class="has-children">
                                                      <a href="{% url 'core-faq' %}">FAQ</a>
                                                      <ul class="dropdown sub-menu">
                                                        <li><a href="{% url 'core-faq' %}#miiowners-faq">MiiOwners</a></li>
                                                        <li><a href="{% url 'core-faq' %}#miisitters-faq">MiiSitters</a></li>
                                                      </ul>
                                                    </li>
                                                    <li><a href="{% url 'core-contact' %}">Contact us</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <div class="d-lg-none sm-right">
                                    <a href="#" class="mobile-bar js-menu-toggle">
                                        <span class="ion-android-menu"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--mobile-menu starts -->
                    <div class="site-mobile-menu">
                        <div class="site-mobile-menu-header">
                            <div class="site-mobile-menu-close  js-menu-toggle">
                                <span class="ion-ios-close-empty"></span>
                            </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                    </div>
                    <!--mobile-menu ends-->
                </div>
            </div>
            <!--Main Menu ends-->
        </header>
        <!--Header ends-->

        <!--Hero section starts-->

        <div class="hero v2 section-padding hero-full" style="background-image: url({% static 'images/miipets/background/background2.jpg' %}); background-size: cover;">
            <div class="overlay op-4"></div>
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center">
                      {% if messages %}
                        {% for message in messages %}
                          <div class=" alert alert-{{message.tags}}">
                            {{message}}
                          </div>
                        {% endfor %}
                      {% endif %}
                      <br>
                        <h1 class="hero-title v2">
                            {%if sitter_user%}
                              Thank you for providing freedom  {% if request.user.is_authenticated %} {{user.first_name}} {%endif%}<!-- MAIN MESSAGE SEEN -->
                            {%else%}
                              Enjoy your freedom  {% if request.user.is_authenticated %} {{user.first_name}} {%endif%}<!-- MAIN MESSAGE SEEN -->
                            {%endif%}
                        </h1>
                        <p class="hero-desc v2">
                            {%if sitter_user%}
                            {%else%}
                              With Peace of Mind <!-- Just below that -->
                            {%endif%}
                        </p>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br>
                    <div class="col-md-12 text-center mar-top-10">
                      <p class="hero-desc v2">
                           COMING SOON
                      </p>
                    </div>
                </div>
            </div>
             <!--Secondary Footer starts-->
                <div class="sec_footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <ul class="list footer-list">
                                    <li>
                                        <div class="contact-info">
                                            <div class="icon">
                                                <i class="ion-ios-email"></i>
                                            </div>
                                            <div class="text">info@miipets.com</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-12">
                              <ul class="social-buttons style2">
                                  <li><a href="https://web.facebook.com/MiiPets-105019651032940/"><i class="ion-social-facebook"></i></a></li>
                                  <li><a href="https://twitter.com/MiiPets"><i class="ion-social-twitter"></i></a></li>
                                  <li><a href="https://www.instagram.com/miipets_pty/"><i class="ion-social-instagram"></i></a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
             <!--Secondary Footer ends-->
        </div>
        <!--Hero section ends-->
    </div>
    <!--Page Wrapper ends-->

    <!--Scripts starts-->
    <!--plugin js-->

    <script src="{% static 'js/plugin.js' %}"></script>
    <!--google maps-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete"></script>
    <!--Main js-->
    <script src="{% static 'js/main.js'  %}"></script>
    <!--Scripts ends-->
</body>

</html>
