{%extends "core/base.html"%}
{%load static%}

{%block content%}
  <!--About section starts-->
  <div class="about-section section-padding pad-bot-120">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="about-text res-box">
                      <iframe src="{%static 'documents/MiiPets-Privacy.pdf' %}#toolbar=0" width="100%" height="500px"> </iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {%endblock content%}
