{%extends "core/base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<div class="user-login-section section-padding bg-fixed">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1  text-center">
        <div class="login-wrapper">
          <div class="ui-dash tab-content">
            <div class="tab-pane fade show active" id="login" role="tabpanel">
              <form method="post">
              {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Join Today</legend>
                  {{ form|crispy }}
              </fieldset>
              <div class="res-box text-center mar-top-30">
                  <button type="submit" class="btn v3" style="background-color: #007A33;"><i class="ion-log-in" ></i> Sign up</button>
              </div>
            </form>
            <div class="border-top pt-3">
              <small class="text-muted">
                  Already Have An Account? <a class="ml-2" href="{% url 'core-login' %}">Sign In</a>
              </small>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}


<!--User Login section starts-->
