{%extends "core/base.html"%}
{%load static%}
{% load crispy_forms_tags %}

{%block content%}
        <!--Booking confirmation starts-->
        <div class="list-details-section section-padding add_list mar-top-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="booking-confirmation-page">
                            <h2 class="margin-top-30">We fully understand that you feel you have to cancel now.</h2>
                            <p>If you change your mind, you can always click <a href="{%url 'services-all'%}">here</a> to view more services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Booking confirmation ends-->
{%endblock content%}
